<h1>Lista de Productos</h1>

<ul>
    {{#each products}}
    <li>
        <a href="/products/{{this._id}}">{{this.title}}</a> - ${{this.price}}
    </li>
    {{/each}}
</ul>

<a href="/products">Ver todos con paginación →</a>
