<h1>Productos en Tiempo Real</h1>

<ul id="productList">
    {{#each products}}
    <li>
        {{this.title}} - ${{this.price}}
        <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>

<form id="productForm">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
